<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Higher or Lower</title>
    <!-- This activates the styles from the css file. -->
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!-- The JavaScript portion of this program is in these script tags. -->
    <script>
        // This randomly picks a number between 1 and 15 for the player.
        // Math.random alone only generates a random numbers between 0 and 1.
        // So that's why it has "*15" because it multiplies that random number by 15 to make it 1-15.
        var playerNumber = Math.random()*15;
        // This rounds the randomly generated number up to an actual number.
        // Otherwise it'll look something like 4.978002567782528
        playerNumber = Math.ceil(playerNumber);

        // This randomly picks a number between 1 and 15 for the cpu.
        var cpuNumber = Math.random()*15;
        // This rounds the randomly generated number up to an actual number.
        // Otherwise it'll look something like 4.978002567782528
        cpuNumber = Math.ceil(cpuNumber);

        // This is the function for the button called Higher.
        function higher() {
            if(playerNumber > cpuNumber) {
                // This prints the player's number.
                document.getElementById("playerResults").innerHTML = "Your number is: " + playerNumber
                // This prints the CPU's number.
                document.getElementById("cpuResults").innerHTML = "My number is: " + cpuNumber
                // If the player's number is indeed higher than the CPU's, it prints this.
                document.getElementById("outcome").innerHTML = "You win! Congratulations!"
            }
            else if(playerNumber < cpuNumber) {
                // This prints the player's number.
                document.getElementById("playerResults").innerHTML = "Your number is: " + playerNumber
                // This prints the CPU's number.
                document.getElementById("cpuResults").innerHTML = "My number is: " + cpuNumber
                // If the CPU's number is higher than the player's, it prints this.
                document.getElementById("outcome").innerHTML = "I'm sorry, it looks like I win this one. Better luck next time!"
            }
            else if(playerNumber == cpuNumber) {
                // This prints the player's number.
                document.getElementById("playerResults").innerHTML = "Your number is: " + playerNumber
                // This prints the CPU's number.
                document.getElementById("cpuResults").innerHTML = "My number is: " + cpuNumber
                // If the CPU's number is higher than the player's, it prints this.
                document.getElementById("outcome").innerHTML = "Well nobody can win with a tie, thanks for wasting both of our time!"
            }
        }

        // This is the function for the button called Lower.
        function lower() {
            if(playerNumber < cpuNumber) {
                // This prints the player's number.
                document.getElementById("playerResults").innerHTML = "Your number is: " + playerNumber
                // This prints the CPU's number.
                document.getElementById("cpuResults").innerHTML = "My number is: " + cpuNumber
                // If the player's number is indeed lower than the CPU's, it prints this.
                document.getElementById("outcome").innerHTML = "You win! Congratulations!"
            }
            else if(playerNumber > cpuNumber) {
                // This prints the player's number.
                document.getElementById("playerResults").innerHTML = "Your number is: " + playerNumber
                // This prints the CPU's number.
                document.getElementById("cpuResults").innerHTML = "My number is: " + cpuNumber
                // If the CPU's number is lower than the player's, it prints this.
                document.getElementById("outcome").innerHTML = "I'm sorry, it looks like I win this one. Better luck next time!"
            }
            else if(playerNumber == cpuNumber) {
                // This prints the player's number.
                document.getElementById("playerResults").innerHTML = "Your number is: " + playerNumber
                // This prints the CPU's number.
                document.getElementById("cpuResults").innerHTML = "My number is: " + cpuNumber
                // If the CPU's number is higher than the player's, it prints this.
                document.getElementById("outcome").innerHTML = "Well nobody can win with a tie, thanks for wasting both of our time!"
            }
        }

        // This function is for the reset button incase the player wants to Play Again.
        function reset() {
            window.location.reload();
        }
    // This is where the JavaScript portion of the program ends.
    </script>

    <!-- This is the main class that displays the text on the HTML window. -->
    <div class="main">
        <h1><%= text %></h1>
        <h3>Please declare if you think your number will be Higher or Lower than mine.</h3>
        <!-- These are the buttons for Higher and Lower. -->
        <input type="button" class="button button-info" value="Higher" onclick="higher()">
        <input type="button" class="button button-info" value="Lower" onclick="lower()">
        <!-- These headings will only display once the button for Higher or Lower is pressed. -->
        <h3 id="playerResults"></h3>
        <h3 id="cpuResults"></h3>
        <!-- This heading reveals rather the player won, lost, or tied. -->
        <h2 id="outcome"></h2>
    </div>

    <div class="main">
        <!-- This is the button the player can press to reset the program and play again. -->
        <input type="button" class="button button-info" value="Play Again" onclick="reset()">
    </div>
    <!-- This creates a link to go back to the Home page. -->
    <a href="/">Home</a>
</body>
</html>