<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first web application</title>
    <!-- This activates the styles from the css file. -->
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1>Hello World!</h1>
    <!-- This prints what was entered on the app.js file. -->
    <h2><%= text %></h2>
    <!-- This creates a link to the About Page. -->
    <a href="/about">About Page</a>
    <!-- This creates a link to the About Page. -->
    <a href="/highlow">Higher or Lower</a>
    <!-- This displays the image of my Black Mage from Final Fantasy XIV. -->
    <img src="img/BLM.jpg" alt="Black Mage">
</body>
</html>